#readingArea {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 30px;
  box-sizing: border-box;
}

#homeButton {
  position: fixed;
  top: 20px;
  right: 260px;
}

#bookmarkLoadButton {
  position: fixed;
  top: 20px;
  right: 20px;
}

#bookmarkSaveButton {
  position: fixed;
  top: 20px;
  right: 140px;
}

#pageNumber {
  position: fixed;
  top: 20px;
  left: 20px;
}
